body
{
	background-color:white;
	
}

.space1
{
	float:left;
	margin-left:500px;
	
}
	


.avatar1
{
	width:40px;
	border-radius: 50%; 
	margin-top:20%
	
}

.avatar2
{
	width:40px;
	border-radius: 50%;
	margin-left:10%
	
}

.firsth3
{
	font-weight: 700;
	font-family:"Times New Roman", Times, serif;
	float:left;
	margin-left:20px;
	font-size:30px;
	display: inline;
}

.text1
{
	font-style: oblique;
	
}

.card1
{
	width:400px;
	margin-left:20px;
	margin-top:10px;
	
}

.carouselitem
{
	height: 210px;
	width:400px;
	
}

.scrl{
    
    overflow-x: hidden;
    
    overflow-y: auto;
}
	